button{
    background-color: rgb(60, 104, 226);
    color:whitesmoke;
    font-weight: 200;
    border-radius: 5px;
    box-shadow: 1.1;

}


.read-toggle,
.remove-toggle{

    height:1em;
    width:3em;
    background-color: aquamarine;
  }
  /* dialog + button {
    width:25%;
    justify-content: center;
    height:2em
  } */
