@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body
{
  font-family: Mulish;
}


.main {
  display:grid;
  /* grid-auto-rows:  */
  /* grid-auto-columns:auto; */
  /* background-color: aqua; */
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  width:400px;
  height:400px;
  align-content: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
}

div{
  border: 1px solid red;
  vertical-align: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 900;
  font-size: 1.3em;
  /* display: grid; */
/* place-items: center; */
  /* display: flex; */
  /* margin:0 auto; */
  /* flex-direction: column; */
  /* justify-content: center;
  text-align: center; */
  /* align-content: center; */
  /* align-items: center; */
}

.cell:hover{
  background-color: aqua;
}



button{
  height:25px;
  width:100px;
}