body{
    background-color: rgba(14, 13, 13, 0.121);

}

.main{
    display: flex;
    flex-direction: column;    
    width:500px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.header{
    border: 1px solid red;
    display: flex;
    height:75px;
    width:100%;
    align-items: center;
    padding:0 10px;
 
    justify-content: space-between;
 
}

.timer{
    height:400px;
    border: 1px solid orange;
}

.pomodoros{
    display: flex;
    align-content: center;
    gap: 100px;
}

.task{
    display: flex;
    gap:19px;
    border:1px solid blue;
    padding:19px;
}
.task > div{
    display: flex;
    border:1px solid red;
}
.projects{
    display: flex;
    flex-direction: column;
    gap:10px;
}
button{
    width:100px;

    height:50px;
}

.draggable.dragging {
    color: gray;
    background-color: rgba(130, 130, 130, 0.355);
    opacity: .04;
}

.before-form{
    display: flex;
    margin-top: 19px;
    gap:19px;
    border:1px solid blue;
    padding:19px;
}

.pomodoro.creation{
    display: flex;
    gap: 15px;
}

.hidden{
    display: none;
}

form{
    /* display: none; */
    border:1px solid green;
   
}

textarea{
    width:280px;
    max-width: max(280px);
    min-height: 5em;
}
/* .notes{
    display:none;
} */

.shown{
    display:block
}

button{
    width: 100px;
    height:2em;
}